*.log
.DS_Store
.env
.env.*
!.env.example
!.env.production.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
*.sqlite
*.sqlite3
*.db
2.env
cara dapat key api gemini gratis.txt
